In [11]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [12]:
page=requests.get("https://en.wikipedia.org/wiki/Main_Page") 
page

In [13]:
#q1
soup=BeautifulSoup(page.content)
head=[]
for i in soup.find_all('span',class_="mw-headline"):
    head.append(i.text)


heading=pd.DataFrame({"heading":head})
heading

                         heading
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

In [14]:
#q3
cir=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi") 
soup=BeautifulSoup(cir.content)
cont=0
team=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    if cont<10:
        team.append(i.text)
        cont+=1
    else:
        break
cir=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi") 
soup=BeautifulSoup(cir.content)
cont=0
match=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    if cont<20:
        match.append(i.text)
        cont+=1
    else:
        break
cir=requests.get("https://www.icc-cricket.com/rankings/mens/team-rankings/odi") 
soup=BeautifulSoup(cir.content)
cont=0
rating=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    if cont<10:
        rating.append(i.text)
        cont+=1
    else:
        break
listm = []
listr = []

for i in range(0, len(match), 2):
    listm.append(match[i])
    listr.append(match[i + 1])

complete=pd.DataFrame({"team":team,"match":listm,"rating":listr})
complete

           team match rating
0     Australia    20  2,316
1      Pakistan    36  4,081
2         India    27  2,806
3   New Zealand    24  2,426
4       England    19  1,910
5  South Africa    28  2,661
6    Bangladesh    16  1,404
7   Afghanistan    32  2,794
8     Sri Lanka    38  2,582
9   West Indies    30  1,641

In [15]:
#b
cir=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--name")
player=[]
player.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell name"):
    if cont<9:
        player.append(i.text)
        cont+=1
    else:
        break

cleaned_data = [name.strip() for name in player if name.strip() != ""]

cir=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--rating")
rating=[]
rating.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    if cont<9:
        rating.append(i.text)
        cont+=1
    else:
        break

odiplayer=pd.DataFrame({"players":cleaned_data,"rating":rating})
odiplayer

                 players rating
0             Babar Azam    886
1  Rassie van der Dussen    777
2           Fakhar Zaman    755
3            Imam-ul-Haq    745
4           Shubman Gill    743
5           Harry Tector    726
6           David Warner    726
7        Quinton de Kock    718
8            Virat Kohli    705
9            Steve Smith    702

In [16]:
#c
cir=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--name-large")
player=[]
player.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    if cont<9:
        player.append(i.text)
        cont+=1

    else:
        break

cleaned_data = [name.strip() for name in player if name.strip() != ""]
cir=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--rating")
rating=[]
rating.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rating"):
    if cont<9:
        rating.append(i.text)
        cont+=1
    else:
        break

odibowler=pd.DataFrame({"players":cleaned_data,"rating":rating})
odibowler

            players rating
0    Josh Hazlewood    705
1    Mitchell Starc    686
2       Rashid Khan    682
3    Mohammed Siraj    670
4        Matt Henry    667
5  Mujeeb Ur Rahman    661
6       Trent Boult    660
7        Adam Zampa    652
8    Shaheen Afridi    630
9     Kuldeep Yadav    622

In [17]:
#q4
cir=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi") 
soup=BeautifulSoup(cir.content)
a=soup.find('td',class_="rankings-block__banner--team-name")
team=[]
team.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rankings-table__team"):
    if cont<9:
        team.append(i.text)
        cont+=1
    else:
        break

cleaned_data = [entry.strip().replace('\n', ' ') for entry in team]

cir=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi") 
soup=BeautifulSoup(cir.content)
a=soup.find('td',class_="rankings-block__banner--matches")
ma=[]
ma.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    if cont<18:
        ma.append(i.text)
        cont+=1
    else:
        break
ar=soup.find('td',class_="rankings-block__banner--points")
listm = []
listr = []

for i in range(1, len(ma), 2):
    listm.append(ma[i])
    listr.append(ma[i + 1])
listm.insert(0,a.text)
listr.insert(0,ar.text)

cir=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi") 
soup=BeautifulSoup(cir.content)
a=soup.find('td',class_="rankings-block__banner--rating u-text-right")
r=[]
team.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    if cont<10:
        r.append(i.text)
        cont+=1
    else:
        break

odiwo=pd.DataFrame({"team":cleaned_data,"matchs":listm,"rating":r})
odiwo

              team matchs rating
0    Australia AUS     26    125
1      England ENG     31    119
2  South Africa SA     26    101
3        India IND     30     96
4   New Zealand NZ     28     95
5   West Indies WI     29     76
6   Bangladesh BAN     17     68
7     Sri Lanka SL     12     68
8     Thailand THA     13     62
9     Pakistan PAK     27     37

In [18]:
#b
cir=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--name-large")
player=[]
player.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    if cont<9:
        player.append(i.text)
        cont+=1
    else:
        break
cleaned_data = [name.strip() for name in player if name.strip() != ""]

cir=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--rating")
rating=[]
rating.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rating"):
    if cont<9:
        rating.append(i.text)
        cont+=1
    else:
        break
rating

odibowler=pd.DataFrame({"players":cleaned_data,"rating":rating})
odibowler

                players rating
0  Natalie Sciver-Brunt    803
1   Chamari Athapaththu    758
2           Beth Mooney    751
3       Laura Wolvaardt    732
4       Smriti Mandhana    708
5          Alyssa Healy    702
6      Harmanpreet Kaur    694
7          Ellyse Perry    686
8           Meg Lanning    682
9       Stafanie Taylor    618

In [19]:
#c
cir=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--name-large")
player=[]
player.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rankings-table__name name"):
    if cont<9:
        player.append(i.text)
        cont+=1
    else:
        break
cleaned_data = [name.strip() for name in player if name.strip() != ""]

cir=requests.get("https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling") 
soup=BeautifulSoup(cir.content)
a=soup.find('div',class_="rankings-block__banner--rating")
rating=[]
rating.append(a.text)
cont=0

for i in soup.find_all('td',class_="table-body__cell rating"):
    if cont<9:
        rating.append(i.text)
        cont+=1
    else:
        break
rating

odibowler=pd.DataFrame({"players":cleaned_data,"rating":rating})
odibowler

               players rating
0    Sophie Ecclestone    769
1       Shabnim Ismail    722
2        Jess Jonassen    682
3     Ashleigh Gardner    673
4         Megan Schutt    666
5      Hayley Matthews    662
6           Kate Cross    661
7       Ayabonga Khaka    634
8        Deepti Sharma    607
9  Rajeshwari Gayakwad    599

In [21]:
#q6
pub=requests.get("https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles") 
soup=BeautifulSoup(pub.content)
title=[]
for i in soup.find_all('h2',class_="sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg"):
    title.append(i.text)

aut=[]
for i in soup.find_all('span',class_="sc-1w3fpd7-0 dnCnAO"):
    aut.append(i.text)
time=[]
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    time.append(i.text)
urls=[]
for i in soup.find_all('a',class_="sc-5smygv-0 fIXTHm"):
    urls.append(i.get('href'))
urls
most=pd.DataFrame({"Paper_title":title,"Author":aut,"Published_Data":time,"Paper_url":urls})
most

,Paper_title,Author,Published_Data,Paper_url
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

In [68]:
#Q7
page = requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
soup=BeautifulSoup(page.content)
res=[]
for i in soup.find_all('div',class_="restnt-info cursor"):
    res.append(i.text)
l=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    l.append(i.text)
s=[]

for i in soup.find_all('span',class_="double-line-ellipsis"):
    s.append(i.text.replace("₹",""))
im=[]
for i in soup.find_all('img',class_="no-img"):
    im.append(i['data-src'])
rat=[]
for i in soup.find_all('div',class_="restnt-rating rating-4"):
    rat.append(i.text)
cu=[]
for a in soup.find_all('span',class_="double-line-ellipsis"):
    cu.append(a.text)
cu
cuisine_list = []
for cuisine_data in cu:
    _,cuisine_info = cuisine_data.split(" | ", 1)  # Split the string at the first " | "
    cuisine_list.append(cuisine_info)
complete=pd.DataFrame({"Restaurant_name":res,"Cuisine":cuisine_list,"Location":l,"Ratings":rat,"Image_URl":im})
complete

,Restaurant_name,Cuisine,Location,Ratings,Image_URl
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4,https://im1.dineout.co.in/images/uploads/resta...
1,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle's BarbequePacific Mall,Tagore Garden, W...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,https://im1.dineout.co.in/images/uploads/resta...
5,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
6,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
7,"The Barbeque TimesM2K Corporate Park,Sector 51...","North Indian, Continental, Chinese, South Indian","M2K Corporate Park,Sector 51, Gurgaon",4.1,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

['Chinese, North Indian', 'Italian, Continental', 'Chinese, North Indian', 'North Indian, Italian', 'North Indian, Chinese', 'North Indian', 'North Indian', 'North Indian, Continental, Chinese, South Indian', 'North Indian, Mughlai']